* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.flexcenter {
  display: flex;
  justify-content: center;
  list-style: none;
  align-content: center;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.flexcenter li {
  padding: 15px;
}
.flexcenter li a {
  font-size: 24px;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}
.flexcenter li:hover {
  background: #b6d8e6;
}

main {
  background: #b6d8e6;
}
main .backhome {
  background: url(../img/fondo.jpg);
  padding-top: 60px;
  padding-bottom: 60px;
}
main .backhome h2 {
  color: #002d73;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 30px;
}
main .backhome .slots {
  display: flex;
  flex-wrap: wrap;
}
main .backhome .slots .slot {
  flex-basis: 33%;
}
main .backhome .slots .slot img {
  width: 100%;
  padding: 5px;
}
main .product h1 {
  text-align: center;
  color: #002d73;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 40px;
}
main .product img {
  width: 100%;
}
main .product p {
  text-align: left;
  color: #002d73;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 24px;
}
main .cursor {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: 100px;
}
main .cursor .prev, main .cursor .next {
  font-size: 70px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  main .backhome .slots {
    display: flex;
    justify-content: center;
  }
  main .backhome .slots .slot {
    flex-basis: 90%;
  }
  main .backhome .slots .slot img {
    width: 100%;
    padding: 5px;
  }
  main .product p {
    text-align: justify;
    padding: 0px 30px;
  }
  main .cursor {
    position: relative;
    top: 25px;
  }
}